*{margin:0;padding:0}
*{box-sizing: border-box}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    position: relative;
    
  }
  .code{
    z-index:1;
    width:100%;
    height:100vh;
    position:absolute;
    background:rgba(211, 211, 211, 0.5) ;
    overflow: hidden;
  }
 
  #button-hidden.hidden{
    display: none;
  }
  #button-show.hidden{
    display: none;
  } 
  #speed.hidden{
      display: none;
  }
  .code.hidden{
    top:-100vh;
  }
  .actions{
      position:absolute;
      right: 0;
      top: 0;
      display: flex;
      flex-direction: column;
      
      z-index:1
  }
  .actions>button{
    margin: 10px;
    background: #ddd;
    padding: 8px 10px;
    border-radius: 20%;
    border:none;
}
.actions>button.active{
    box-shadow: 1px 1px 1px rgba(0,0,0,0.8)
    /* 这里表示选中某个按钮之后出现自己设置的样式 */
}
.actions>button:focus{
    outline: none
    /* 这里主要是为了消除点击按钮的时候清楚默认的样式 */
}


  /* #tongue {
    display: none;
    border-width: 10px 10px 10px 10px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    background-color: rgb(248, 158, 167);
    height: 60px;
    width: 200px;
    position: absolute;
    bottom: -20px;
  } */
  
  /* @keyframes pulse {
    0% {
    transform: scale(1.0, 1.0);
    }
    100% {
    transform: scale(1.9, 1.0);
    }
  }
  #face {
    animation-name: pulse;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;  
  }  */
 